@import "/styles/global/colors";
@import "/styles/global/sizes";


.input__container {
  gap: 8px;

  .input__wrapper {
    position: relative;
    border-radius: 5px;
    border: 1px solid $white-300;
    background-color: $white-100;
    padding: 16px 20px;
    height: 56px;
    transition: all $time;
    *{transition: all $time}
    &:hover{
      border: 1px solid $blue-300;
    }
    .label {
      position: absolute;
      font-size: 16px;
      line-height: 24px;
      top: 50%;
      transition: all $time;
      left: 20px;
      transform: translateY(-50%);
      pointer-events: none;
    }

    .active__label {
      font-size: 12px;
      line-height: 16px;
      color: $white-500;
      top: 4px;
      transform: initial;
    }


    .input {
      border: none;
      width: 100%;
      height: 100%;
      padding: 0;
      background-color: transparent;
      appearance: none;
      -moz-appearance: textfield;
      &:focus {
        outline: none;
      }

      &:focus + p {
        font-size: 12px;
        line-height: 16px;
        color: $white-500;
        top: 4px;
        transform: initial;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }




  }

  .stage {
    grid-template-columns: auto 1fr;
    gap: 8px;
    .text{
      color: $white-500;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.disabled__component {
  cursor: no-drop;
  .label {
    color: $blue-300!important;
  }
  .input__wrapper{
    background-color: $blue-100!important;
    .input {
      cursor: no-drop;
      background-color: $blue-100!important;
      color: $white-400;
    }
  }


}


.warning {
  .input__wrapper {
    border: 1px solid $yellow-200;
    background-color: $yellow-100;
  }
}


.error {
  .input__wrapper {
    border: 1px solid $red-200;
    background-color: $red-100;
  }
}

.loading {
  .input__wrapper {
    border: 1px solid $blue-300;
    background-color: $blue-100;
  }
}
