@import "styles/page-styles/template";

.wrapper__fixed {
    display: grid;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(7px);
    z-index: 10;
    transition: background-color $time;
    overflow: hidden;

    @media screen and (max-width: $tablet) {
        justify-content: stretch;
    }

    .wrapper__content {
        position: relative;
        align-content: start;
        gap: 50px;
        padding: 70px 30px;
        height: 100%;
        width: 470px;
        background-color: $white-100;
        border-radius: 50px 0 0 50px;
        transform: translateX(100%);
        transition: transform $time;
        overflow: auto;

        @media screen and (max-width: $tablet) {
            align-self: end;
            grid-template-rows: auto 1fr;
            gap: 30px;
            padding: 30px 2.5% 70px;
            height: 96%;
            width: 100%;
            border-radius: 50px 50px 0 0;
            transform: translateX(0%) translateY(100%);
        }

        @media screen and (max-width: $mobile) {
            padding: 30px 2.5% 20px;
            height: 90vh;
            border-radius: $large-radius $large-radius 0 0;
            overflow: hidden;
        }

        .close {
            position: fixed;
            top: 20px;
            right: 20px;
            display: grid;
            place-content: center;
            height: 24px;
            width: 42px;
            border-radius: 37px;
            cursor: pointer;
            * {
                cursor: pointer;
            }

            svg {
                height: 20px;
                width: 20px;
            }

            @media screen and (max-width: $tablet) {
                position: relative;
                justify-self: end;
                top: unset;
                right: unset;
                height: 30px;
                width: 30px;
                border-radius: 0;
                background-color: $white-100;
                margin-bottom: 10px;
            }
        }

        .popup__title {
            font-size: 24px;
            line-height: 32px;
        }

        .drag__container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: none;
            align-content: center;
            justify-items: center;
            height: 35px;
            width: 100%;

            @media screen and (max-width: $tablet) {
                display: grid;
            }

            .drag__line {
                height: 3px;
                width: 100px;
                background-color: $white-500;
                border-radius: $medium-radius;
            }
        }

        .content__main {
            @media screen and (max-width: $tablet) {
                align-content: start;
                padding: 100px 200px 200px;
                height: auto;
                overflow: auto;
            }
            @media screen and (max-width: $mobile) {
                align-content: start;
                padding: 0;
                height: auto;
                overflow: auto;
            }
        }
    }

    .active {
        transform: translateX(0%);

        @media screen and (max-width: $tablet) {
            transform: translateY(0%);
        }
    }
}

.wrapper__active {
    background-color: rgba(0, 0, 0, 0.74);
}
