@import "/styles/global/colors";
@import "/styles/global/sizes";
@import "/styles/page-styles/template";

.input__container {
	justify-self: start;
	align-content: center;
	align-items: center;
	gap: 8px;

	.label__element {
		font-size: 16px;
		cursor: pointer;
		.span__element {
			color: $red-400;
		}
	}

	.square {
		cursor: pointer;
		transition: all $time;
		border-radius: $light-radius;
		border-width: 1px;
		border-style: solid;
		&:focus {
			outline: 2px solid $focus;
		}

		svg {
			cursor: pointer;
			path {
				cursor: pointer;
				transition: fill $time;
			}
		}
	}

	.large {
		width: 28px;
		height: 28px;
	}

	.medium {
		width: 24px;
		height: 24px;
	}

	.small {
		width: 18px;
		height: 18px;
	}

	.square__color__active {
		background-color: $blue-500;
		border: none;
	}

	.square__color__off {
		background-color: $white-100;
	}

	.border__color {
		border-color: $blue-300;
		&:hover.border__hover {
			border-color: $blue-500;
			//border-color: #00b606;
		}
	}
	.checkbox__disabled {
		background-color: $blue-100;
		border: none;
	}

	.square__error__active {
		background-color: $red-400;
	}

	.border__error__color {
		border-color: $red-400;
	}
}

.disabled__component {
	.label__element {
		color: $white-100;

		.span__element {
			color: $white-100;
		}
	}

	.square {
		background-color: $blue-100;
		border: none;
	}
}
