

.slider {
  display: grid;
  height: 100%;
}

.dots {
  display: grid;
  place-content: center;
  gap: 5px;
  padding-top: 20px;
  .plainDot {
    height: 5px;
    width: 5px;
    background-color: $white-400;
    border-radius: 100%;
    transition: background-color $time;

    @media screen and (max-width: $mobile) {
      height: 10px;
      width: 10px;
    }
  }

  .activeDot {
    background-color: #333333;
  }
}
