.multiple__range {
  align-content: space-between;
  height: 54px;
  width: 100%;

  @media screen and (max-width: $mobile) {
    margin: auto auto;
    width: 95%;
  };
};

.container {
  height: 0;
  border-bottom: 2px solid $blue-300;
}

.label {
  color: $white-500;
};

.numbers {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  width: 100%;
  color: $blue-300;

  input {
    width: 90px;
    outline: none;
    border: none;
    background-color: transparent;
    color: $white-700;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.wrapper {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
}

.inputWrapper {
  position: absolute;
  width: calc(100% + $thumb-size);
  margin: 0 calc($thumb-size / -2);
  height: $thumb-size;
}

.controlWrapper {
  position: absolute;
  top: 0;
  height: $thumb-size;
  width: 100%;
}

.input {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;

  &::-moz-range-track {
    @include track-styles;
  }

  &:focus::-webkit-slider-runnable-track {
    @include track-styles;
  }

  &::-moz-range-thumb {
    @include thumb-styles;
  }

  &::-webkit-slider-thumb {
    @include thumb-styles;
  }
}

.rail {
  position: absolute;
  width: 100%;
  top: 0;
  height: 2px;
  background-color: transparent;
}

.innerRail {
  position: absolute;
  height: 100%;
  background: $blue-500;
}

.control {
  position: absolute;
  top: calc((-8px / 2) + 0.5px);
  width: 8px;
  height: 8px;
  background-color: $blue-500;
  margin-left: calc($thumb-size / -2);
  z-index: 2;
  border-radius: 50%;

  &:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(2);
    background-color: $white-100;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid $blue-200;
  }

  &:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blue-500;
    z-index: 2;
    border-radius: 50%;
  }
}
