.comment {
    display: grid;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(7px);
    opacity: 0;
    transition: opacity $time;
    z-index: 10;

    .comment__content {
        position: relative;
        gap: 24px;
        padding: 40px 56px 40px;
        margin: auto auto;
        width: 100%;
        max-width: 440px;
        background-color: $white-100;
        border-radius: $light-radius;

        @media screen and (max-width: $mobile) {
            max-width: calc(100% - 20px);
        }

        .close {
            position: absolute;
            top: 16px;
            right: 16px;
            display: grid;
            place-content: center;

            svg {
                path {
                    fill: $white-500;
                }
            }
        }

        .content__texts {
            gap: 16px;
        }

        .button {
            justify-self: center;
            width: 88px;
        }
    }
}

.active {
    opacity: 1;
}
