

.wrapperContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.69);

  .contentContainer {
    background-color: $white-100;
    padding: 15px;
    gap: 20px;
    border-radius: $light-radius;
    position: relative;
    z-index: 10;
  }
}
