
.wrapper_calendar {
  border-radius: 4px;
  width: 271px;
  box-shadow: 0 8px 16px 0 rgba(142, 141, 208, 0.12);
  position: absolute ;

  .wrapper_calendar_year {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 39px;
    margin: auto;
    background: $blue-300;
    display: flex;
    align-items: center;
    justify-content: center;

    .selector > div{
      background: none !important;
      border: none !important;
    }

    .selector{
      span {
        font-family: Inter;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: $blue-500;
      }
      svg {
        fill: $blue-500;
      }
    }
  }

  .icon {
    :hover {
      cursor: pointer;
    }
    path {
      stroke: $blue-300 !important;
    }

    .disabled {
      path {
        stroke: transparent !important;
      }
    };
  }

  .wrapper_calendar_month {
    height: 40px;
    padding: 8px 12px 8px 12px;
    justify-content: space-between;
    display: flex;

    .month{
      font-family: Inter;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: $blue-500;
    }
  }

  & :last-child {
    border: none!important;
  }
}

.calendar :last-child table {
  th {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: $white-500
  }

  td {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: $white-700
  }

  thead{
    tr :last-child{
      color:$red-500 !important;
    }
    tr :nth-last-child(2){
      color:$red-500 !important;
    }
  }



}
.css-dev-only-do-not-override-18iikkb.ant-picker-calendar .ant-picker-cell .ant-picker-cell-inner .ant-picker-calendar-date-value  {
     color: red !important;
}